# Copy this to .env.local and update with your MongoDB connection string.
# Example:
# MONGODB_URI=mongodb+srv://user:pass@cluster0.xxxx.mongodb.net/DeeDivine

MONGODB_URI=
CLOUDINARY_API_KEY=478885554294651
CLOUDINARY_API_SECRET=11l5Dzq22xAVNTX6o5ImsHmDy2o
CLOUDINARY_CLOUD_NAME=dwlvsr0zr